{
  "plugins": [
    "transform-object-rest-spread",
    "transform-inline-environment-variables",
    "transform-es2015-modules-commonjs"
  ],
  "presets": [
    ["env", {
      "targets": {
        "chrome": 52
      }
    }]
  ]
}
