{
  "sourceMaps": "inline",

  "plugins": [
    ["transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }],
    "transform-object-rest-spread",
    ["transform-inline-environment-variables", {
      "include": [
        "NODE_ENV", "ROOT"
      ]
    }]
  ],
  "presets": [
    ["env", {
      "targets": {
        "chrome": 62
      }
    }]
  ]
}
