body{
    font-family:Helvetica
}

h3{
    font-family:"Times New Roman";
}

div{
    text-align:center;
}

h3{
    font-size:5rem;
}

.segment {
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    margin: .1rem .1em;
    padding: .4rem;
    max-width:65%;
    margin-left:auto;
    margin-right:auto;
}

.time-table{
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    display:inline-block;
}

.vue-crono-time{
    font-weight:bold;
}